<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{{ url_for('index_bp.static', filename='Images/DevPro.png') }}" rel="icon" type="image/x icon" />
    <link href ="{{ url_for('index_bp.static', filename='css/style.css') }}" rel="Stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <title>DevProGT</title>
</head>
<body>
    <header>
        <div class = "logo_nav">
            <img class ="img_logo" src ="{{ url_for('index_bp.static', filename='Images/DevPro3.png') }}"/>
        </div>
        <nav class ="nav_links">
            <a class="nav_link" href="{{ url_for('index_bp.index_page') }}">Home</a>
            <a class="nav_link" href="{{ url_for('index_planes.index_planes') }}">Planes</a>
            <a class="nav_link" href="{{ url_for('index_bp.index_page') }}">Funciones</a>
            <a class="nav_link" href="{{ url_for('index_bp.index_page') }}">Contacto</a>
            <a class="nav_login" href="{{ url_for('login.login_def') }}">Login</a>
            <a class="nav_login" href="{{ url_for('signup.signup_def') }}">Sign up</a>
        </nav>
    </header>
    <section class="body1">
        <div class="texto_body1">
            <h1>Utiliza nuestra plataforma para registrar a tus usuarios en segundos, de una forma sencilla y segura.</h1>
            <p>Ten un registro de todos los usuarios de tu plataforma de una forma ordenada y experimenta una herramienta de automatización y ten control sobre todo en cualquier momento.</p>
        </div>
        <div class="img_body1">
            <img src="{{ url_for('index_bp.static', filename='Images/DevPro3.png') }}" width="500px"/>
        </div>
    </section>
    <secition class="body2">
        <div class="img_logo2">
            <img class="img2" src="{{ url_for('index_bp.static', filename='Images/219923823-bf1ce878-c6b8-4faa-be07-93e6b1006521.gif') }}" width="600px"/>
        </div>
        <div class="texto_body2">
            <h1>Utiliza esta plataforma para hacer pruebas de manera gratuita antes de adquirir el servicio.</h1>
            <button class="btn btn-primary" id="registrate_body2" href="../Funciones/Index_funciones/templates/Index_funciones.html">Regístrate</button>
        </div>
    </secition>
    <footer>
        <div class="social_media">
            <p>Síguenos:   </p>
            <i class="fi fi-brands-facebook"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-tik-tok"></i>
        </div>
        <div class="Contactos">
            <div class="contacto">
                <i class="fi fi-brands-whatsapp"></i> 
                <p>  +502 5555 5555</p>
            </div>
            <div class="contacto">
                <i class="fi fi-rs-envelope"></i>
                <a href="mailto:soporte@devprogt.com" type="mail">soporte@devprogt.com</a>
            </div>
        </div>
        <div class ="empresa_identificacion">
            <p>®2025 Site Powered by DevProGT</p>
        </div>
    </footer>
</body>
</html>