<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{{ url_for('pagina_pago.static', filename='images/DevPro.png') }}" rel="icon" type="image/x icon" />
    <link href ="{{ url_for('pagina_pago.static', filename='css/stylePagina_pago.css') }}" rel="Stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <title>Pago</title>
</head>
<body>
    <header>
        <div class = "logo_nav">
            <img class ="img_logo" src ="{{ url_for('pagina_pago.static', filename='images/DevPro.png') }}"/>
        </div>
        <nav class ="nav_links">
            <a class="nav_link" href="{{ url_for('index_bp.index_page') }}">Home</a>
            <a class="nav_link" href="{{ url_for('index_planes.index_planes') }}">Planes</a>
            <a class="nav_link" href="{{ url_for('index_bp.index_page') }}">Funciones</a>
            <a class="nav_link" href="{{ url_for('index_bp.index_page') }}">Contacto</a>
            <a class="nav_login" href="{{ url_for('login.login_def') }}">Login</a>
            <a class="nav_login" href="{{ url_for('signup.signup_def') }}">Sign up</a>
        </nav>
    </header>
    <section class="section1">
        
        <form class="form_pago" action="/procesar-pago" method="POST">
            <h2>Formulario de Pago</h2>
            <label for="nombre">Nombre:</label>
            <input class="input-group-text" type="text" id="nombre" name="nombre" required>

            <label for="apellido">Apellido:</label>
            <input class="input-group-text" type="text" id="apellido" name="apellido" required>

            <label for="correo">Correo electrónico:</label>
            <input class="input-group-text" type="email" id="correo" name="correo" required>

            <label for="telefono">Teléfono:</label>
            <input class="input-group-text" type="text" id="telefono" name="telefono" required>

            <label for="pais">País:</label>
            <input class="input-group-text" type="text" id="pais" name="pais" required>

            <label for="ciudad">Ciudad:</label>
            <input class="input-group-text" type="text" id="ciudad" name="ciudad" required>

            <label for="direccion">Dirección:</label>
            <input class="input-group-text" type="text" id="direccion" name="direccion" required>

            <label for="codigo_postal">Código Postal:</label>
            <input class="input-group-text" type="text" id="codigo_postal" name="codigo_postal" required>

            <label for="nit">NIT:</label>
            <input class="input-group-text" type="text" id="nit" name="nit" required>

            <button class="btn btn-dark" type="submit">Pagar ahora</button>
        </form>

        <div class="info_pago">
            <h2>Has seleccionado el {{ plan | capitalize }}</h2>
            <p>{{ descripcion }}</p>

            <form method="POST" action="/procesar-pago">
                <input type="hidden" name="plan" value="{{ plan }}">

                <label>
                    <input type="radio" name="tipo_pago" value="mensual:{{ precio.mensual }}" checked>
                    Mensual - ${{ precio.mensual }}
                </label><br>

                <label>
                    <input type="radio" name="tipo_pago" value="anual:{{ precio.anual }}">
                    Anual - ${{ precio.anual }}
                </label><br>
            </form>
        </div>

    </section>
    <footer>
        <div class="social_media">
            <p>Síguenos:   </p>
            <i class="fi fi-brands-facebook"></i>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-tik-tok"></i>
        </div>
        <div class="Contactos">
            <div class="contacto">
                <i class="fi fi-brands-whatsapp"></i> 
                <p>  +502 5555 5555</p>
            </div>
            <div class="contacto">
                <i class="fi fi-rs-envelope"></i>
                <a href="mailto:soporte@devprogt.com" type="mail">soporte@devprogt.com</a>
            </div>
        </div>
        <div class ="empresa_identificacion">
            <p>®2025 Site Powered by DevProGT</p>
        </div>
    </footer>
</body>
</html>